<form>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input 
        type="text" 
        class="form-control" 
        id="nome" 
        aria-describedby="Nome do Usuário"
        [(ngModel)]="nome"
        name="nome"
      >
    </div>
    <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <input 
          type="text" 
          class="form-control" 
          id="cpf" 
          aria-describedby="CPF do cliente"
          [(ngModel)]="cpf"
          name="cpf"
        >
    </div> 
    <div class="mb-3">
      <label for="cidade" class="form-label">Cidade:</label>
      <input 
        type="text" 
        class="form-control" 
        id="cidade" 
        aria-describedby="Cidade do cliente"
        [(ngModel)]="cidade"
        name="cidade"
      >
  </div>  
    <button 
      type="button" 
      class="btn btn-primary"
      (click)="salvar()"
    >Salvar</button>
    <button 
      type="button" 
      class="btn btn-danger"
      (click)="limpar()"
    >Limpar</button>
</form>