<button class="btn btn-primary" routerLink="/cliente/-1">
    Novo
  </button>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Cpf</th>
          <th scope="col">Cidade</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of cliente_service.clientes;let i = index">
          <th scope="row"> - </th>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.cidade }}</td>
          <td>
              <fa-icon 
                [icon]="faEdit"
                (click)="editar(i)"
              ></fa-icon>
          </td>
          <td>
              <fa-icon 
                [icon]="faTrash" 
                (click)="cliente_service.excluir(i)"
              ></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>